.home-container-dark {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
}
.home-container-light {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
  background-color: white;
  width: 100%;
}
.home-page-text-light {
  color: #000000;
  font-size: 55px;
}
.home-page-text-dark {
  color: #ffffff;
  font-size: 55px;
}
.home-image-style {
  width: 170px;
  height: 170px;
}
